.w-custom{
    width: 38rem;
}

.custom-field {
    border: none !important;
    border-bottom: 1px solid black !important;
    
    

    &:focus{
        box-shadow: none
    }
 
}

.red-border {
    border-color: rgb(240 82 82) !important;
}
