
<app-modal [isModalOpen]="isModalOpen ">
  
<!-- @if(isLoading){
  <app-loader></app-loader>
} -->
  
  <form
    name="form"
    #f="ngForm"
    (ngSubmit)="f.form.valid && createProject()"
    novalidate
  >
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-bold text-gray-700">Añadir proyecto</h2>
      <button type="reset" (click)="closeModal()" class="text-gray-600 hover:text-gray-900">
        <svg
          class="w-3 h-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
          />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>

    <div class="form-group mb-4">
      <label class="block text-gray-700 font-bold"
      >Nombre del proyecto:</label>
      <input
        type="text"
        class="w-full text-lg border-b border-black focus:outline-none custom-field"
        name="name"
        [(ngModel)]="project.name"
        required
        #name="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && name.errors }"
      />

      @if(f.submitted && name.errors){
        @if(name.errors['required']){
          <div class="text-red-500">Nombre del proyecto obligatorio.</div>
        }
      }
    </div>

    <div class="form-group mb-4">
      <label class="block text-gray-700 font-bold">Descripción:</label>
      <input
        type="text"
        class="w-full text-lg border-b border-black focus:outline-none custom-field"
        name="description"
        [(ngModel)]="project.description"
        required
        minlength="6"
        maxlength="50"
        #description="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && description.errors }"
      />

      @if(f.submitted && description.errors){
        @if(description.errors['required']){
          <div class="text-red-500">Descripción obligatoria</div>
        }

        @if(description.errors['minlength']){
          <div class="text-red-500">La descripción debe tener al menos de 6 caracteres</div>
        }

        @if(description.errors['maxlength']){
          <div class="text-red-500">La descripción debe tener como máximo 20 caracteres</div>
        }
      }
    </div>

    <div class="form-group mb-4">
      <label class="block text-gray-700 font-bold mb-2">Imagen:</label>
      <input
        (change)="onFileChange($event)"
        type="file"
        name="image"
        class="w-full p-3 rounded-lg focus:outline-none focus:border-blue-500 transition duration-200"
        required
      />

      @if(f.submitted && !project.path){
        <div class="text-red-500">Imagen obligatoria</div>
      }

    </div>



    <div class="form-group flex">
      <button type="submit" class="w-full bg-black text-white font-bold py-3 hover:bg-gray-800 ">Añadir</button>
     
    </div>

   
  </form>
</app-modal>

