<div class="px-[5vw] py-[3.5vh] mx-auto w-auto">
    <!--Fullscreen menu-->
    <div class="relative flex items-center justify-between lg:justify-between lg:space-x-16">
        <ul class="items-center hidden lg:flex">

            <div class="group relative cursor-pointer py-2">
                <div class="bg-white mr-8">
                    <a  routerLink="" aria-label="Home" title="Home"
                        class="font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-deep-purple-accent-400">
                        Inicio
                    </a>
                </div>

            </div>
            

            <div class="group relative cursor-pointer py-2">
                <div class="bg-white">
                    <a aria-label="Our product" title="Our product"
                        class="font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-deep-purple-accent-400">
                        Proyectos
                    </a>
                </div>

                <div
                    class="invisible absolute z-50 flex w-28 flex-col bg-black py-1 px-4 text-gray-800 shadow-xl group-hover:visible">

                    <a routerLink="/projects" aria-label="Product pricing" title="Product pricing"
                        class="my-2  border-gray-100 py-1 font-normal text-white hover:text-gray-500 md:mx-2">
                        Todos
                    </a>

                    <a routerLink="/projects-preferences" aria-label="Product pricing" title="Product pricing"
                        class="my-2 border-gray-100 py-1 font-normal text-white hover:text-gray-500 md:mx-2">
                        Para tí
                    </a>
                </div>
            </div>

            

           

           
        </ul>
        <div class="flex items-center justify-between w-full lg:w-fit p-2">
            <a href="/" aria-label="Company" title="Company" class="inline-flex justify-center items-center">
                <img src="assets/LOGO.svg" alt="Imagen 1" class="w-8 h-8">
           
            </a>

            <!-- Mobile menu and profile -->
            <div class="flex items-center lg:hidden">
                <button type="button" id="triggerEl" (click)="toggleMenu()"
                    class="mr-4 p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-dropdown" [ariaExpanded]="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>

            </div>
        </div>

        <ul class="items-center lg:space-x-8 lg:flex sm:block">
            <div class="group relative cursor-pointer py-2 hidden sm:hidden lg:inline-block">
                <div class="bg-white">
                    <a aria-label="Our product" title="Our product"
                        class="font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-deep-purple-accent-400">
                        Aprende
                    </a>
                </div>

                <div
                    class="invisible absolute z-50 flex w-auto flex-col bg-black py-1 px-4 text-gray-800 group-hover:visible">
                    <a routerLink="" aria-label="Product pricing" title="Product pricing"
                        class="my-2 border-gray-100 py-1 font-normal text-white hover:text-gray-500 md:mx-2">
                        Recursos
                    </a>

                    <a routerLink="" aria-label="Product pricing" title="Product pricing"
                        class="my-2 border-gray-100 py-1 font-normal text-white hover:text-gray-500 md:mx-2">
                        Asesorías
                    </a>
                </div>
            </div>
            

            <li>
                <a href="/" aria-label="About us" title="About us"
                    class="hidden font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-deep-purple-accent-400 sm:hidden lg:inline-block">Sobre
                    nosotros</a>
            </li>
            @if(!authService.isLogged()){
            <li>
                <a routerLink="/login"
                    class="font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-deep-purple-accent-400">Sign
                    in</a>
            </li>

            }@else {
            <app-user-profile></app-user-profile>
            }
        </ul>
    </div>

    <!-- Fullscreen menu overlay -->
    <div [class.hidden]="!isMenuOpen" [@slideDown]="isMenuOpen ? 'visible' : 'hidden'"
        class="fixed inset-0 bg-gray-100 z-50">
        <!-- Menú desplegable -->
        <div class="px-4 py-6 mx-auto lg:py-8 sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
            <!-- Logo y otros elementos -->
            <div class="flex justify-end items-center">
                <!-- Botón para cerrar el menú -->
                <button type="button" (click)="toggleMenu()"
                    class="text-gray-500 hover:text-gray-700 focus:outline-none">
                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg>
                </button>
            </div>

            <ul class="py-2 flex justify-center items-center flex-col">
                <li>
                    <a href="/"
                        class="block py-2 px-4 text-sm font-medium text-gray-700 hover:text-deep-purple-accent-400">Features</a>
                </li>
                <li>
                    <a routerLink="/projects"
                        class="block py-2 px-4 text-sm font-medium text-gray-700 hover:text-deep-purple-accent-400">Proyectos</a>
                </li>
                <li>
                    <a href="/"
                        class="block py-2 px-4 text-sm font-medium text-gray-700 hover:text-deep-purple-accent-400">Sobre
                        nosotros</a>
                </li>
                <li>
                    <a routerLink="/login"
                        class="block py-2 px-4 text-sm font-medium text-gray-700 hover:text-deep-purple-accent-400">Sign
                        in</a>
                </li>
                <li>
                    <a href="/"
                        class="block py-2 px-4 text-sm font-medium text-gray-700 hover:text-deep-purple-accent-400">Sign
                        up</a>
                </li>
            </ul>
        </div>
    </div>
</div>